HELP.md
target/
build-jars
!build/
build/frontend/node_modules

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.idea/*
!.idea/runConfigurations

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
