.table_cell {
    width: 8vw;
    min-height: 8vh;
    height: 8vw;
    min-width: 8vh;
    border: solid white 1px;
    vertical-align: top;
    text-align: center;
    cursor: pointer;
    border-spacing: 1px;
}

.table_cell:hover {
    outline: solid #c3a50a 2px;
    color: #c3a50a;
}

.table_cell_selected {
    outline: solid #c3a50a 2px;
    color: #c3a50a;
}

.disabled_table_cell {
    width: 8vw;
    min-height: 8vh;
    height: 8vw;
    min-width: 8vh;
    border: solid gray 1px;
    vertical-align: top;
    text-align: center;
    border-spacing: 1px;
    opacity: 0.5;
}

.building_image {
    position: relative;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: inherit;
    height: 80%
}