html * {
    font-family: Verdana, sans-serif;
    color: whitesmoke;
    max-width: 100vw;
}

.card-body * {
    color: black !important;
}

.background-container {
    min-height: 100vh
}

.list-group-item {
    background-color: rgba(0, 0, 0, 0.075)
}

.background-wallpaper {
    background: rgb(88, 59, 35);
    background: radial-gradient(circle, rgba(88, 59, 35, 1) 9%, rgba(138, 101, 56, 1) 54%, rgba(0, 0, 0, 1) 81%);
}