.icon {
    margin-top: 10px;
    width: 50px;
    height: 50px;
    position: absolute;
    fill: #636363;
    z-index: 10;
}

.icon_warning {
    -webkit-animation: icon_warning_blinking_color 3s infinite;
    fill: red;
}

@keyframes icon_warning_blinking_color {
    0% {
        fill: red;
    }
    50% {
        fill: #8c0000;
    }
}


.icon_info {
    fill: #94d286;
}

.popover_header {
    color: black;
}

.popover_body {
    white-space: pre-wrap;
}

