#login-container > #login {
    background-color: #DDD;
}

#login-container > #password {
    background-color: #DDD;
}

#login-container > .black-canvas {
    background-color: black;
    /*height: 100%;*/
    min-height: 100vh;
}

#login-container > .errorAlert {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 3s, opacity 3s linear;
}

#login-container > .btn-primary:focus {
    background: black !important;
    border: none !important;
    -webkit-box-shadow: none !important;;
    box-shadow: none !important;;
}

#login-container > .btn-primary {
    background: black !important;
    border: none !important;
}

#login-container > .btn-primary.active {
    background: #c3a50a !important;
    border: none !important;
}

#login-container > .flex-container {
    display: flex;
    height: 60vh;
    flex-direction: column;
    justify-content: flex-end;
}

