.dropdown_title > h5 {
    color: black;
}

.list_group_template_item > div > div {
    color: black;
}

.card_body_template_properties {
    color: black;
    font-size: 8px;
    padding: 0.5rem;
}

.list_delete_template {
    position: absolute;
    top: 5px;
    right: 3px;
}

.list_delete_template_red {
    fill: red;
    cursor: pointer;
}